    <header class="site-header">
        <div class="header-container">
                <nav style="display: flex;
                            list-style: none;
                            padding: 0;
                            margin: 50px;">
                        <div class="logo">
                            <h1>IT-Shop</h1>
                        </div>
                        <div style="margin-left: 500px;">
                            <a href="/" style="margin: 5px;" class="navbar-brand">Главная</a>
                            {% if not is_not_show %}
                            <a href="#" style="margin: 5px;" class="navbar-brand">О нас</a>
                            <a href="#" style="margin: 5px;" class="navbar-brand">Контакты</a>
                            <a href="{% url 'product' %}" style="margin: 5px;" class="navbar-brand">Каталог</a></li>
                            {% endif %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16" style="margin-left: 50px;">
                                      <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                            </svg>
                        </div>
                </nav>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="{% url 'product' %}">Магазин</a>
                <div class="navbar-nav ms-auto">
                   <a class="nav-link" href="{% url 'cart' %}">
                    Корзина
                    {% if cart_count > 0 %}
                        <span class="badge bg-primary">{{ cart_count }}</span>
                    {% endif %}
                    </a>
                </div>
            </div>
        </nav>
            <div class="container mt-4">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            {% endfor %}
        {% endif %}

        {% block content %}{% endblock %}
    </div>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    </header>