{% extends 'base.html' %}
{% block content %}
<h1>Products</h1>
<table>
    {% for product in products %}
    <div class="card" style="width: 18rem; margin: 15px">
        {% with product_image=product.images.first %}
             {% if product_image %}
             <img src="{{ product_image.image.url }}" class="card-img-top" alt="{{ product.name }}">
             {% else %}
                <img src="https://via.placeholder.com/300" class="card-img-top" alt="Нет изображения">
            {% endif %}
        {% endwith %}
        <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="cars-text">{{ product.price }} рублей</p>
            <p class="card-text">{{ product.description }}</p>
            <form action="{% url 'add_to_cart' product.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">В корзину</button>
            </form>
        </div>
    </div>
    {% endfor %}
</table>
{% endblock %}
